* {
	margin: 0 auto;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #22272e;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	max-width: 720px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	color: #fff;
	padding: 24px 0;
	text-align: center;
}

.form label {
	color: #fff;
	font-size: 16px;
}

.form input {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 18px;
	padding: 14px 5px;
	border-radius: 5px;
	outline: none;
	border: none;
}

.form button {
	background-color: hsl(31, 78%, 55%);
	color: #fff;
	border-radius: 5px;
	outline: none;
	border: none;
	width: 100%;
	padding: 14px 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	transition: all 0.5s ease;
}

.form button:hover {
	background-color: hsl(31, 78%, 45%);
}

.result {
	max-width: 420px;
	background-color: #439c2d;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	margin-top: 18px;
	padding: 18px;
	transition: transform 0.8s ease;
}

.result:hover {
	transform: scale(1.1);
}

.result h1 {
	color: #fff;
	margin-bottom: 18px;
	font-size: 20px;
}

.result span {
	color: #fff;
	font-size: 18px;
}
